.about-container {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.88)),
        url("../assets/imdb-top-50.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.go-movies {
    padding: 18px 60px;
    margin: 9px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: larger;
}

.go-movies:hover {
    background-color: rgb(199, 63, 63);
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.8);

}

@media (max-width: 768px) {
    .about-container {
        background-image:
            linear-gradient(rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.88)),
            url("../assets/movi-mobile.jpg");
        min-height: 85vh;
    }
}